{% import '@SyliusAdmin/shared/helper/button.html.twig' as button %}

{% if data.gatewayConfig.factoryName == 'sylius.pay_pal' and not data.enabled %}
    <div data-bs-toggle="tooltip" data-bs-title="{{ 'sylius.ui.enable'|trans }}">
        <form action="{{ path('sylius_paypal_plugin_admin_enable_seller', {'id': data.id}) }}" method="post">
            {{ button.default({type: 'submit', icon: 'tabler:check', icon_class: 'icon text-purple', icon_only: true,}) }}
        </form>
    </div>
{% endif %}
