{% set payment = hookable_metadata.context.payment %}

{% if
    payment.method.gatewayConfig.factoryName|default('') == constant('Sylius\\PayPalPlugin\\DependencyInjection\\SyliusPayPalExtension::PAYPAL_FACTORY_NAME') and
    payment.state == constant('Sylius\\Component\\Core\\Model\\PaymentInterface::STATE_REFUNDED')
%}
    <td class="py-2">
        <div class="alert alert-purple mb-0" role="alert">
            <div class="d-flex">
                <div>{{ ux_icon('tabler:brand-paypal-filled') }}</div>
                <div>{{ 'sylius_paypal.tender_type'|trans }}</div>
            </div>
        </div>
    </td>
{% endif %}
