{% set payment = hookable_metadata.context.payment %}

{% if payment.amount != payment.order.total and payment.state == 'processing' %}
    <div>
        <i>{{ 'sylius.pay_pal.different_amount'|trans }}</i>
    </div>
{% endif %}
