<div class="d-grid" data-live-ignore>
    {{ render(controller('Sylius\\PayPalPlugin\\Controller\\PayPalButtonsController::renderCartPageButtonsAction', {'orderId': hookable_metadata.context.resource.id})) }}
</div>
